[Unit]
Description=Proton Mount (rclone)
AssertPathIsDirectory=%h/Proton
# Make sure we have network enabled
After=network.target

[Service]
Type=simple
Environment="PATH=/bin:/usr/bin:/usr/local/bin:/home/mbarria/.nix-profile/bin:/run/wrappers/bin"
ExecStart=rclone mount --vfs-cache-mode full proton: Proton

# Perform lazy unmount
ExecStop=fusermount -zu %h/Proton

# Restart the service whenever rclone exists with non-zero exit code
Restart=on-failure
RestartSec=15

[Install]
# Autostart after reboot
WantedBy=default.target
